{% extends 'goods/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/products.css' %}">
{% endblock %}


{% block content %}
    <section class="products">
            <div class="row">
                {% for product in object_list %}
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-center">
                                <p>
                                    <img class="card-img-top"
                                        src="{{ product.image2.url }}"
                                        alt=""
                                        style="object-fit: contain; width: 60%;">
                                </p>
                                <div class="card-body d-flex flex-rows justify-content-between">
                                    <h4 class="card-title" style="object-fit: contain;">
                                        <p class="text-white">  {{ product.name }}</p>
                                    </h4>
                                    <h4>{{ product.price }} € </h4>
                               </div>
                                <div class="card-footer text-center"></div>
                            </div>
                        </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}