{% extends 'goods/base.html' %}
{% load static %}


{% block css %}
    	<link rel="stylesheet" href="{% static 'vendor/css/styles.css' %}">
{% endblock %}

{% block content %}

    <section class="main-content">
        <div class="contanier">
            <div class="main-info">
                <h1 class="main-title">AMARE & HABERE</h1>
                <h2 class="main-title2">ANTIQUE AUCTION</h2>
                <div class="main-text">
                    <p>
                        You will find the best antiques on our 
                    </p>
                    <p>
                        website. I hope you spend all your
                    </p>
                    <p>
                        money on this and die poor.
                    </p>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}

