{% extends 'goods/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/products.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
{% endblock %}


{% block content %}
	<section class="products">

        <div class="row">

            {% for product in object_list %}
                <div class="col-lg-4 col-md-6 mb-4">
               <div class="card h-100">
                   <a href="#">
                       <img class="card-img-top"
                            src="{{ product.image.url }}"
                            alt=""
                            style="object-fit: contain; width: 100%; height: 400px;">
                   </a>
                   <div class="card-body">
                        <h4>{{ product.price }} € </h4>
                        <h5 class="card-title" style="object-fit: contain; height: 110px;">
                            <a href="#" class="text-white">{{ product.description }}</a>
                        </h5>

                   </div>
                   <div class="card-footer text-center">
                   </div>
               </div>
           </div>
            {% endfor %}

       </div>
    </section>
{% endblock %}


