<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/products.css">
</head>
<body>

<section class="main">
    <header class="header">
        <div class="contanier">
            <div class="logo">
                <img src="icons/Logo3.png" alt="Logo">
            </div>
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="#">products</a>
                    </li> 
                    <li class="menu-item">
                        <a href="#">orders</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">personal area</a>
                    </li>
                </ul>
            </nav>
            <div class="log-in-out">sing out</div>
        </div>
    </header>

    <section class="products">
        
        <div class="row">

               <div class="col-lg-4 col-md-6 mb-4">
               <div class="card h-100">
                   <a href="#">
                       <img class="card-img-top"
                            src="img/product1.png"
                            alt=""
                            style="object-fit: contain; width: 100%; height: 400px;">
                   </a>
                   <div class="card-body">
                        <h4>6 700 € </h4>
                        <h5 class="card-title" style="object-fit: contain; height: 110px;">
                            <a href="#" class="text-white">CLOCK OF LOVE AND PSYCHE, BY CLAUDE MICHALLON</a>
                        </h5>
                       
                   </div>
                   <div class="card-footer text-center">
                   </div>
               </div>
           </div>

       </div>
    </section>

</section>
