{% extends 'goods/base_black.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/products.css' %}">
{% endblock %}


{% block content %}
    <section class="products">

        <div class="row">
            {% for product in object_list %}
                <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'goods:product' product.id %}">
                        <img class="card-img-top"
                            src="{{ product.image1.url }}"
                            alt=""
                            style="object-fit: contain; width: 100%; height: 400px;">
                    </a>
                    <div class="card-body">
                        <h4>{{ product.price }} € </h4>
                        <h4 class="card-title" style="object-fit: contain; height: 110px;">
                            <a href="{% url 'goods:product' product.id %}" class="text-white">{{ product.name }}</a>
                        </h4>

                   </div>
                <div class="card-footer text-center"></div>
                </div>
            </div>
            {% endfor %}


        </div>
    </section>
{% endblock %}