<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../../static/vendor/login_folder/css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(../../static/vendor/login_folder/images/background_login.png);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Don't have an account?</h3>
		      	<form action="#" class="signin-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" required>
		      		</div>

                    <div class="form-group">
                        <input id="password-field" type="email" class="form-control" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input id="password-field" type="Phone" class="form-control" placeholder="Phone" required>
                    </div>


                    <div class="form-group">
                        <input id="password-field" type="password" class="form-control" placeholder="Password" required>
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      </div>
                      <div class="form-group">
                          <input id="password-field2" type="password" class="form-control" placeholder="Repeat password" required>
                          <span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>

	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
	            </div>

				<div class="text-center p-t-136">
					<i class="txt2" href="#" color: white>
						Have an account? sing in
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</i>
				</div>
	            
	          </form>
	          
		</div>
	</section>

  <script src="../../static/vendor/login_folder/js/jquery.min.js"></script>
  <script src="../../static/vendor/login_folder/js/popper.js"></script>
  <script src="../../static/vendor/login_folder/js/bootstrap.min.js"></script>
  <script src="../../static/vendor/login_folder/js/main.js"></script>

	</body>
</html>

